# copy as user_config.py
# Sample configuration,  CERTS tuple must have an array of aliases even if blank

USER = 'username' # Webfaction login name
PASS = 'password' # Webfaction password for API (same as control panel)
WEB = 'WebXXX'    # Webfaction server make sure to use a capital 'W' (ie Web123)

CERTS = [
   #('NAME',      'Main URL',    [ array of other domain names])
    ('site_name', 'my-site.com', ['www.my-site.com']),
    ('other_site', 'other-site.com', []),
]

# ---------------------------------
DEBUG=0

# The name of the webfaction app that hold the lets encrypt files
LETSENCRYPT_APP_NAME = 'letsencrypt'

# Use's home path
HOME_PATH='/home/{user}/'.format(user=USER)

# acme.sh path (to the folder)
ACME_PATH='/home/{user}/.acme.sh'.format(user=USER)

# Always update the certificates on webfaction
FORCE_WEBFACTION = False
